@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "DM Serif Text", serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0b0c0f;
  color: #f8fafc;
}

* {
  box-sizing: border-box;
}
